.bike-characteristics
    each val1, key1 in bike.characteristics
        h2= key1

        each val2, key2 in val1
            h3= key2

            ul
                each val3, key3 in val2
                    li
                        b= key3
                        = ': ' + val3